@model Entities.Concrete.HomeProperty
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add</h1>
@using (Html.BeginForm("Add","HomeProperty",FormMethod.Post))
{
     <div class="form-group">
        @Html.LabelFor(m => m.ApartmentType)
        @Html.TextBoxFor(m=>m.ApartmentType, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NumberOfRoom)
        @Html.TextBoxFor(m=>m.NumberOfRoom, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NumberOfBath)
        @Html.TextBoxFor(m=>m.NumberOfBath, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AgeOfApartment)
        @Html.TextBoxFor(m=>m.AgeOfApartment, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.WhichFloor)
        @Html.TextBoxFor(m=>m.WhichFloor, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DeedStatus)
        @Html.TextBoxFor(m=>m.DeedStatus, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.WarmType)
        @Html.TextBoxFor(m=>m.WarmType, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Facede)
        @Html.TextBoxFor(m=>m.Facede, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FurnitureStatus)
        @Html.TextBoxFor(m=>m.FurnitureStatus, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Lift)
        @Html.TextBoxFor(m=>m.Lift, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CarPark)
        @Html.TextBoxFor(m=>m.CarPark, new {@class="form-control"})
    </div>
  
    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m=>m.Price, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Picture)
        @Html.TextBoxFor(m=>m.Picture, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Video)
        @Html.TextBoxFor(m=>m.Video, new {@class="form-control"})
    </div>
    @*<div class="form-group">
        @Html.LabelFor(m => m.ListingDate)
        @Html.TextBoxFor(m=>m.ListingDate, new {@class="form-control"})
    </div>*@
    <div class="form-group">
        @Html.LabelFor(m => m.AdvertNo)
        @Html.TextBoxFor(m=>m.AdvertNo, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AdvertState)
        @Html.TextBoxFor(m=>m.AdvertState, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Square)
        @Html.TextBoxFor(m=>m.Square, new {@class="form-control"})
    </div>
      <div class="form-group">
        @Html.LabelFor(m => m.ExchangeStatus)
        @Html.TextBoxFor(m=>m.ExchangeStatus, new {@class="form-control"})
    </div>  
     <div class="form-group">
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m=>m.City, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.District)
        @Html.TextBoxFor(m=>m.District, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Street)
        @Html.TextBoxFor(m=>m.Street, new {@class="form-control"})
    </div>

    <br />
    <button type="submit" class="btn btn-success">Ekle</button>

}
